.menu-icon {
  display: none;
}
@media screen and (max-width: 600px) {
  body {
    max-width: 1440px;
    width: 100%;
    /* height: 100%; */
    /* margin-left: 1rem;
        margin-right: 1rem; */
    /* padding: 0px !important; */
    overflow: hidden;
    overflow-y: auto;
    padding: 1.5rem;
  }
  .menu-icon {
    display: block;
  }

  .top-site-heading h1 {
    font-size: 20px;
  }

  .primary-btn a {
    padding: 10px !important;
  }

  .menu-bar {
    display: none;
  }

  .heading-sec {
    font-size: 25px;
  }
  .item-description {
    font-size: 14px;
  }
  .btn-aria {
    display: flex;
    flex-direction: column;
    gap: 0px;
    max-width: 100%;
    width: 80%;
    margin: auto;
    text-align: left;
  }

  .section-2 {
    flex-direction: column;
    margin: 0px;
  }

  .ract-2 {
    margin: 0;
  }
  .ract-2 img {
    width: 100% !important;
    height: 260px;
  }

  .card-details-3{
    width: 100%;
  }

  .section-2 img {
    width: 100%;
    margin-top: 1rem;
  }
  .primary-btn {
    width: 40%;
  }
  .img-div-3,
  .ractanagel-img,
  .img-div-2 {
    flex-direction: column;
  }
  .img-title {
  }
  .img-title-1 {
  }
  .img-title-2 {
  }
  .img-title-3 {
  }
  .img-title-4 {
    color: #131313;
    position: fixed;
    right: 50px;
    margin-top: 30px;
    margin-bottom: 250px;
    margin-left: 280px;
  }
  .img-title-5 {
  }
  .img-title-6 {
    color: #fff;
    position: relative;
    right: 10px;
    bottom: 350px;
    margin-left: 270px;
  }

  .card-item{
    flex-direction: column;
    width: 100%;
  }
  .card-item div{
    flex-direction: column;
    width: auto;
  }
  .card-item-3s{
    flex-direction: column;
    width: auto;
  }

  .newsletter-content{
    flex-direction: column;
  }
  .newsletter-content img{
    width: 100%;
  }
  .ns-item{
    position: absolute;
    bottom: 40px;
    right: 5px;
    background-color: #FF5400;
    border-radius: 15px;
    padding: 15px;

}


.deals-discounts-parent {
    flex-direction: column;
}
.deals-discounts-parent > div{
    width: auto;
    margin-top: 100px;
}

}
